* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #111827;
    
}

body {
    color: #030712;
    overflow-x: hidden;
    font-family: serif;

}
#projects {

    padding: 128px 16px 16px;
}

  ul{
    list-style-type: none;
  }
  .navbar {
    background-color: #111827;
    position: fixed;
    width: 100%; 
    padding: 16px;
    color: #fff;
    height: 80px; 
    z-index: 1000;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    color: #0284C7;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links button {
    background: none;
    border: none;
    color: #fff;
    font-size: medium;
    cursor: pointer;
    margin: 20px;
    margin-right: 50px;
    color: var(--primary-color);
}

.nav-links button:hover {
    color: #0284C7;
}  
/* Hamburger Menu Button */
.menu-toggle {
     display: none; 
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    color: var(--primary-color);
}
.section3 {
    background-color: #030712;
    padding: 128px 16px 16px; 
    justify-content: space-between;
    align-items: center;
}

#projects {
    display: flex;
    flex-direction: column;
    background-color: #030712;
    padding: 128px 16px 16px; 
    justify-content: space-between;
    align-items: center;
    
}

.projects-flex1 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 52px;
}
.projects-flex2 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 52px;
}
.projects-flex1,
.projects-flex2 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.projects-box1,
.projects-box2,
.projects-box3,
.projects-box4,
.projects-box5,
.projects-box6,
.projects-box7,
.projects-box8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #1e293b;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #31667B;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-top: 30px;
}

.projects-box1 i,
.projects-box2 i,
.projects-box3 i,
.projects-box4 i,
.projects-box5 i,
.projects-box6 i,
.projects-box7 i,
.projects-box8 i{
    font-size: 100px;
    margin: 5px;
    color: #8D98A3;
}

.projects-box1 a,
.projects-box2 a,
.projects-box3 a,
.projects-box4 a,
.projects-box5 a,
.projects-box6 a,
.projects-box7 a,
.projects-box8 a {
    color: #8D98A3;
}

.projects-box1:hover,
.projects-box2:hover,
.projects-box3:hover,
.projects-box4:hover,
.projects-box5:hover,
.projects-box6:hover,
.projects-box7:hover,
.projects-box8:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 12px skyblue;
}


.projects-box1 a:hover,
.projects-box2 a:hover,
.projects-box3 a:hover,
.projects-box4 a:hover,
.projects-box5 a:hover,
.projects-box6 a:hover,
.projects-box7 a:hover,
.projects-box8 a:hover  {
    color: skyblue;
}

.projects-box1 i:hover,
.projects-box2 i:hover,
.projects-box3 i:hover,
.projects-box4 i:hover,
.projects-box5 i:hover,
.projects-box6 i:hover,
.projects-box7 i:hover,
.projects-box8 i:hover {
    color: skyblue;
}

.projects-box1 p,
.projects-box2 p,
.projects-box3 p,
.projects-box4 p,
.projects-box5 p,
.projects-box6 p,
.projects-box7 p,
.projects-box8 p  {
    overflow: auto;
    color: #8D98A3;
    width: 200px;
    height: 120px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 15px;
}

::-webkit-scrollbar {
    display: none; 
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111827;
    padding: 10px;
    color: #fff;
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

.footer p {
    margin-left: 100px;
    padding: 30px;
    font-size: 20px;
    color: #fff;
    color: var(--primary-color);
}

.footer-container i {
    font-size: 25px;
    color: #fff;
    padding: 5px;
    margin: 0;
    padding-top: 10px;
    color: var(--primary-color);

}

.footer-container i:hover {
    color: #0284C7;
}
@media (max-width: 768px){
    .nav-links {
        display: none; 
        position: absolute;
        top: 60px;
        /* right: 0; */
        background-color: #333;
        color: #fff;
        padding: 10px;
        width: 200px;
        list-style: none;
        flex-direction: column;
        color: var(--primary-color);
    }
    
    .section1 ,.section2 ,.section3 ,.section4{
        width: 768px;
    }

    .nav-links.active {
        display: flex; 
        margin-left:110px ;
    }

    .menu-toggle {
        display: block; 
        font-size: 2.0rem; 
        width: 60px;       
        height: 60px; 
    }
    #projects {
        padding: 20px;
    }

    .projects-flex1 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

    }
    .projects-flex2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

    }


    .projects-box1,
    .projects-box2,
    .projects-box3,
    .projects-box4,
    .projects-box5,
    .projects-box6,
    .projects-box7,
    .projects-box8 {
        width: 200px;
        height: auto;
        padding: 10px;
    }
    .footer{
        width: 768px;
        height: 80px;
        padding: 16px;
       }
       .footer p{
           font-size: medium;
           margin-right: 100px;
       }
}